@model AppService.FrontItemsModel
@{
    ViewBag.Title = "ContactUs";
    
}

<div class="wpb_wrapper">
    <div role="form" class="wpcf7" id="wpcf7-f491-p3002-o1" lang="en-US" dir="ltr">
        <div class="screen-reader-response"></div>
        <div id="RegForm" action="#" method="post" class="wpcf7-form" novalidate="novalidate">
            <div id="contentAlert" class="alert" style="display:none;">
                <a href="#" class="close" data-dismiss="alert">×</a>
                <span id="contactResult"> There was a problem with your network connection.</span>
            </div>

            <div style="display: none;">
                <input type="hidden" name="_wpcf7" value="491">
                <input type="hidden" name="_wpcf7_version" value="4.4.2">
                <input type="hidden" name="_wpcf7_locale" value="en_US">
                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f491-p3002-o1">
                <input type="hidden" name="_wpnonce" value="ae05e4ac41">
            </div>
            <div class="row">
                <div class="form-group col-sms-12 col-sm-12">
                    <span class="wpcf7-form-control-wrap first-name"><input type="text" id="FirstName" name="first-name" value="" size="40" class="full-width input-text validate[required]" data-errormessage="*" aria-required="true" aria-invalid="false" placeholder="@Resources.SiteText.ContactFormFirstName"></span>
                </div>
                <div class="form-group col-sms-12 col-sm-12">
                    <span class="wpcf7-form-control-wrap first-name"><input type="text" id="LastName" name="last-name" value="" size="40" class="full-width input-text validate[required]" data-errormessage="*" aria-required="true" aria-invalid="false" placeholder="@Resources.SiteText.ContactFormLastName"></span>
                </div>
                <div class="form-group col-sms-12 col-sm-12">
                    <span class="wpcf7-form-control-wrap first-name"><input type="text" id="Mobile" name="mobile" value="" size="40" class="full-width input-text validate[required]" data-errormessage="*" aria-required="true" aria-invalid="false" placeholder="@Resources.Messages.Mobile"></span>
                </div>
                <div class="form-group col-sms-12 col-sm-12">
                    <span class="wpcf7-form-control-wrap first-name"><input type="text" id="Tel" name="Tel" value="" size="40" class="full-width input-text validate[required]" data-errormessage="*" aria-required="true" aria-invalid="false" placeholder="@Resources.Messages.Tel"></span>
                </div>
                <div class="form-group col-sms-12 col-sm-12">
                    <span class="wpcf7-form-control-wrap your-email"><input type="email" id="email" name="your-email" value="" size="40" class="full-width input-text validate[required]" data-errormessage="*" aria-required="true" aria-invalid="false" placeholder="@Resources.SiteText.ContactFormEmail"></span>
                </div>
            </div>
            
            <div class="form-group">
                <input type="submit" id="btnReg" value="@Resources.SiteText.ContactFormSend" class="wpcf7-form-control wpcf7-submit btn btn-md style1">
            </div>
            <div class="wpcf7-response-output wpcf7-display-none"></div>
        </div>
    </div>
</div>


    <script type="text/javascript">
        jQuery(document).ready(function () {
            //debugger;
            jQuery("#btnReg").click(function (e) {
                ////debugger;
                ////var $form = jQuery("#RegForm");
                ////Call SetUp ValidationEngine
                ////var ValidationPosition = "centerleft";
                ////if (currentLanguage == "ar") {
                ////    ValidationPosition = "centerLeft";
                ////}
                ////else {
                ////    ValidationPosition = "centerRight";
                ////}

                ////$form.validationEngine('attach', {
                ////    promptPosition: ValidationPosition,
                ////    autoPositionUpdate: true
                ////});
                ////-------------------------------------
                ////var isValid = $form.validationEngine('validate');
                ////$disabledElements.attr("disabled", "disabled");
                ////if (isValid == false) {
                ////    e.stopPropagation();
                ////    return false;
                ////}
                SendRegMessage("#RegForm", e);
            });


        });
    </script>
    <script type="text/javascript">
        function SendRegMessage(formContainerSelector, e) {
            debugger;
            var message = {};
            var Container = jQuery(formContainerSelector);
            message.ModuleTypeID=@((int)ViewBag.MessageModuleTypeId) ;
            message.RelatedItemID=@Model.ItemID ;
            message.FirstName = Container.find("#FirstName").val();
            message.LastName = Container.find("#LastName").val();
            message.Mobile = Container.find("#Mobile").val();
            message.Tel = Container.find("#Tel").val();
            message.Email = Container.find("#email").val();
            //
            //Container.find("#LoadingAlert").show();
            jQuery.ajax({
                type: 'POST',
                url: '/home/TrainingReginster',
                data: "{message:" + JSON.stringify(message) + "}",
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (res) {
                    //debugger;
                    // jQuery("#LoadingAlert").hide();
                    Container.find("#contentAlert").addClass("alert-success");
                    Container.find("#contentAlert").show();
                    Container.find("#contactResult").text(res.Message);

                    //debugger;
                    //-----------------
                    //Clear form
                    Container.find("#FirstName").val("");
                    Container.find("#LastName").val("");
                    Container.find("#Mobile").val("");
                    Container.find("#Tel").val("");
                    Container.find("#email").val("");
                    //-----------------
                },
                error: function (err) {
                    //debugger;
                    //Container.find("#LoadingAlert").hide();
                    Container.find("#contentAlert").addClass("alert-danger");
                    Container.find("#contentAlert").show();
                    Container.find("#contactResult").text(err);
                    //debugger;
                    //alert(err);
                    console.log(err);
                }
            });
            e.preventDefault();


        }

    </script>
