@using AppService;
@using DCCMSNameSpace;
@model AppService.FrontItemsModel
@{
    ViewBag.Title = "View1";
    AppService.FrontItemsModel CurrentItem = Model;
    ViewBag.BodyClasses = "single single-post postid-" + CurrentItem.ItemID + " single-format-standard";
    ViewBag.PageTitle = CurrentItem.Title;
    int messageModuleTypeId = 0;
    switch (CurrentItem.ModuleTypeID)
    {
        case 12:
            messageModuleTypeId = 512;
            break;
        case 33:
            messageModuleTypeId = 533;
            break;
        case 35:
            messageModuleTypeId = 535;
            break;
        default:
            messageModuleTypeId = 0;
            break;
    }
    ViewBag.MessageModuleTypeId = messageModuleTypeId;
}
<article id="post-@(CurrentItem.ItemID)" class="box-lg post-@(CurrentItem.ItemID) post type-post status-publish format-standard has-post-thumbnail hentry category-training-programs tag-mobile tag-new-sliders">
    <div class="post-date">
        <span class="day">20</span>
        <span class="month uppercase">May</span>
    </div>


    <div class="image-container"><img width="1600" height="1164" src="@(DCCMSNameSpace.SiteSettings.Site_AdminUrl + CurrentItem.PhotoPathOriginal)"
     class="attachment-full size-full wp-post-image" alt="@(CurrentItem.Title)"
      /></div>
    <div class="post-content">
        @*<div class="post-action"><div id="wp-ulike-@(CurrentItem.ItemID)" class="wpulike default"><div class="counter"><a data-ulike-id="@(CurrentItem.ItemID)" data-ulike-type="likeThis" data-ulike-status="3" class="wp_ulike_btn image"></a><span class="count-box">5+</span></div></div><span class="post-share"><a href="#" class="btn btn-sm"><i class="fa fa-share"></i>Share</a><span class="share-links"><a href="http://www.facebook.com/sharer.php?s=100&#038;p%5Burl%5D=http://arbitrationar.genevahumanrights.org/index.php/2016/05/20/1246/&#038;p%5Btitle%5D=%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D8%AC+%D8%A7%D8%B9%D8%AF%D8%A7%D8%AF+%D8%A7%D9%84%D9%85%D8%AD%D9%83%D9%85%D9%8A%D9%86+%D8%A7%D9%84%D8%B9%D8%B1%D8%A8+%D9%88%D8%A7%D9%84%D8%AF%D9%88%D9%84%D9%8A%D9%8A%D9%86&#038;p%5Bimages%5D%5B0%5D=http://arbitrationar.genevahumanrights.org/Content/images/DesignImages/lawyer-1.jpg&#038;t=%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D8%AC+%D8%A7%D8%B9%D8%AF%D8%A7%D8%AF+%D8%A7%D9%84%D9%85%D8%AD%D9%83%D9%85%D9%8A%D9%86+%D8%A7%D9%84%D8%B9%D8%B1%D8%A8+%D9%88%D8%A7%D9%84%D8%AF%D9%88%D9%84%D9%8A%D9%8A%D9%86&#038;u=http://arbitrationar.genevahumanrights.org/index.php/2016/05/20/1246/" class="facebook" target="_blank" title="Facebook" data-toggle="tooltip" data-placement="right"><i class="fa fa-facebook"></i></a><a href="http://twitter.com/home?status=%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D8%AC+%D8%A7%D8%B9%D8%AF%D8%A7%D8%AF+%D8%A7%D9%84%D9%85%D8%AD%D9%83%D9%85%D9%8A%D9%86+%D8%A7%D9%84%D8%B9%D8%B1%D8%A8+%D9%88%D8%A7%D9%84%D8%AF%D9%88%D9%84%D9%8A%D9%8A%D9%86+http%3A%2F%2Farbitrationar.genevahumanrights.org%2Findex.php%2F2016%2F05%2F20%2F1246%2F" class="twitter" target="_blank" title="Twitter" data-toggle="tooltip" data-placement="right"><i class="fa fa-twitter"></i></a></span></span></div>*@
        		@*<h2 class="entry-title">@(CurrentItem.Title)</h2>*@
        @*<div class="post-meta">
            <span class="entry-author fn">by <a href="http://arbitrationar.genevahumanrights.org/index.php/author/admin/">admin</a></span>
            <span class="entry-author fn">in <a href="/Module/Training/">برامج تدريبية</a></span>
            <span class="post-comment">
                No Comments
            </span>
        </div>*@
        @*<div class="vc_row wpb_row row">
            <div class="col-sm-12 wpb_column ">
                <div class="wpb_wrapper">
                    <div class="container">
                        <div class="wpb_text_column wpb_content_element  box-lg">
                            <div class="wpb_wrapper">

                                <div class="heading-box">
                                    <h2 class="box-title">
                                        @(CurrentItem.Title)
                                    </h2>
                                    <p class="desc-lg">
                                        @(CurrentItem.ShortDescription)
                                    </p>
                                </div>

                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>*@
        
        
        
        @*<div class="tags"><a href="http://arbitrationar.genevahumanrights.org/index.php/tag/mobile/" class="tag">Mobile</a><a href="http://arbitrationar.genevahumanrights.org/index.php/tag/new-sliders/" class="tag">New Sliders</a></div>*@
    </div>
    <div style="padding:20px;">
        @Html.Raw(CurrentItem.Description)
    </div>
</article>

@if (messageModuleTypeId>0)
{
    <div class="vc_row wpb_row row">
        <div class="col-sm-12 wpb_column ">
            <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <div class="callout-box style3 text-center">
                            <div class="container">
                                <div class="callout-content">
                                    <div class="callout-text">
                                        <h2 class="dark">التسجيل</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
     <div class="vc_row wpb_row row">
        <div class="col-lg-2 wpb_column ">
            <div class="wpb_wrapper">
                
            </div>
        </div>
         <div class="col-lg-8 wpb_column ">
             <div class="wpb_wrapper">
                 @Html.Partial("~/Views/_Forms/Reg.cshtml", CurrentItem)
             </div>
         </div>
         <div class="col-lg-2 wpb_column ">
             <div class="wpb_wrapper">

             </div>
         </div>
    </div>
    
    
   
}